.** export-ignore
tests export-ignore
phpstan.neon.dist export-ignore
README.md export-ignore
phpunit.xml.dist export-ignore
bin export-ignore
package.json export-ignore
package-lock.json export-ignore
/.wordpress-org export-ignore
