includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    paths:
        - better-file-name.php
        - src/
    scanFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    level: 4
